<form>
	<div class = "form-group">
		<label for = "remind_About">Your Name</label> 
		<input type = "text" class = "form-control" placeholder = "Enter Name" ng-model = "scratch.name"></input>
	</div>

	<div class = "form-group">
		<label for = "reminder_Time">Time</label>
		<input type = "text" class = "form-control" placeholder = "Enter email address" ng-model = "scratch.email"></input>
	</div>
	<div class = "emailButton">
		<a class = "btn btn-primary" ng-click="emailScratch()">Send Email</a>
	</div>
</form>